<h2>Task:</h2>
  <h4><%= @task.title%></h4>
  <p><%= @task.details %></p>
  <div>
    <%= link_to 'Back to list', tasks_path %>
  </div>
  <div>
    <%= link_to 'update task', edit_task_path %>
  </div>




